@media screen and (max-width: 1110px) {
    .conteudo-news-artigo-topo-titulo, .titulo-conteudo{
        font-size: 1.5em;
    }
    .conteudo-news-artigo-div{
        width: 300px;
        height: 300px;
        transition: 500ms;
    }
    .conteudo-news-artigo-div:hover{
        width: 350px;
        height: 350px;
    }
    .conteudo-build-champ{
        max-width: 1000px;
    }
    .conteudo-build-champ-item{
        width: 120px;
    }
}

@media screen and (max-width: 940px) {
    .cabecalho-menu-button-div{
        display: block;
    }
    .cabecalho-logo{
        width: 200px;
        height: 50px;
    }
    .menu{
        display: none;
    }
    .cabecalho-search-div{
        padding: 10px 16px;
    }
    .conteudo-news-artigo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo-news-artigo-topo-titulo, .titulo-conteudo{
        font-size: 1.4em;
    }
    .conteudo-news-artigo-div{
        width: 450px;
        height: 350px;
        margin: 5px;
    }
    .conteudo-news-artigo-div:hover{
        width: 500px;
        height: 400px;
    }
    .conteudo-news-artigo-image{
        height: 60%;
    }
    .conteudo-news-artigo-titulo{
        font-size: 1.2em;
    }
    .conteudo-news-artigo-paragrafo{
        font-size: 1em;
    }
    .conteudo-build-artigo-nav{
        gap: 10px;
        margin: 30px auto;
    }
    .conteudo-build-artigo-item{
        padding: 5px 10px;
    }
    .conteudo-build-artigo-image{
        width: 25px;
    }
    .conteudo-build-artigo-text{
        font-size: 0.8em;
    }
    .conteudo-build-champ{
        max-width: 800px;
    }
    .conteudo-build-champ-item{
        width: 110px;
    }
    .conteudo-build-champ-item > p{
        width: 110px;
        font-size: 12px;
    }
    .rodape{
        padding: 5px;
    }
    .rodape-menu1{
        padding: 15px;
    }
    .rodape-logo{
        width: 250px;
    }
    .rodape-menu2-item{
        width: 40px;
    }
    .rodape-menu2-item:hover{
        width: 50px;
    }
}

@media screen and (max-width: 670px) {
    .cabecalho-menu-button{
        width: 35px;
    }
    .cabecalho-logo{
        width: 35vw;
        height: 40px;
    }
    .cabecalho-search-div{
        padding: 8px 14px;
    }
    .cabecalho-search-icon{
        width: 20px;
    }
    .conteudo-news-artigo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .conteudo-news-artigo-topo, .artigo-topo{
        margin: 10px;
        display: block;
    }
    .conteudo-news-artigo-topo-titulo, .titulo-conteudo{
        font-size: 1.3em;
        margin: 15px 30px;
    }
    .conteudo-news-artigo-topo-link{
        display: none;
    }
    .conteudo-news-artigo-topo-link-2{
        display: block;
        text-align: right;
        padding-right: 20px;
    }
    .conteudo-news-artigo-div{
        width: 60vw;
        height: 60vh;
        margin: 10px;
    }
    .conteudo-news-artigo-image{
        height: 60%;
    }
    .conteudo-news-artigo-div:hover{
        width: 70vw;
        height: 70vh;
    }
    .conteudo-news-artigo-titulo{
        font-size: 1rem;
        margin-top: 5px;
    }
    .conteudo-news-artigo-paragrafo{
        font-size: 0.9rem;
    }
    .conteudo-build-champ{
        max-width: 550px;
    }
    .conteudo-build-champ-item{
        width: 100px;
    }
    .conteudo-build-champ-item > p{
        width: 100px;
        font-size: 11px;
    }
    .rodape{
        display: block;
        padding: 5px;
    }
    .rodape-menu1{
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .rodape-menu1-item{
        padding: 3px;
    }
    .rodape-logo-div{
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .rodape-logo{
        width: 35vw;
    }
    .rodape-menu2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rodape-menu2-item{
        width: 35px;
        padding: 3px;
    }
    .rodape-menu2-item:hover{
        width: 40px;
    }
}