@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

:root{
    --fonte-padrao: 'Open Sans', sans-serif;
}
.cabecalho{
    position: fixed;
    z-index: 20000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px;
    box-shadow: 1px 3px 11px rgba(0, 0, 0, 0.479);
}
.cabecalho-menu-button-div{
    display: none;
}
.cabecalho-menu-button{
    border: none;
    width: 30px;
    height: 30px;
}
.cabecalho-logo{
    width: 200px;
    height: 50px;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu>li{
    list-style-type: none;
    padding: 0px 16px;
    border-bottom: 3px solid black;
}
.menu>li:hover{
    border-bottom: 3px solid #32C8FF;
}
.menu>li>a{
    line-height: 65px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 7px;
    transition: 300ms;
}
.menu>li>a:hover{
    background-color: gray;
    border-radius: 5px;
}
.cabecalho-mode{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cabecalho-search-div{
    display: flex;
    background-color: white;
    border-radius: 100px;
    padding: 12px 20px;
    align-items: center;
}
.cabecalho-search{
    background-color: white;
    color: black;
    border: none;
    outline: none;
}
.cabecalho-search-icon{
    width: 25px;
    cursor: pointer;
}
.conteudo-news-artigo-topo{
    padding-top: 80px;
}
.conteudo-news-artigo-topo, .artigo-topo{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    font-weight: 800;
    color: #32C8FF;
}
.conteudo-news-artigo-topo-titulo, .titulo-conteudo{
    font-size: 1.7em;
    font-weight: 800;
    font-style: italic;
    margin: 20px 50px;
}
.conteudo-news-artigo-topo-link{
    text-decoration: none;
    font-style: italic;
    font-weight: 800;
    color: #32C8FF;
    margin-right: 20px;
    transition: 300ms;
}
.conteudo-news-artigo-topo-link:hover{
    color: gray;
}
.conteudo-news-artigo{
    display: flex;
    justify-content: space-evenly;
}
.conteudo-news-artigo-div{
    width: 350px;
    height: 350px;
    transition: 500ms;
}
.conteudo-news-artigo-div > a{
    text-decoration: none;
    color: black;
}
.conteudo-news-artigo-image{
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #32C8FF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}
.conteudo-news-artigo-div:hover{
    width: 400px;
    height: 400px;
}
.conteudo-news-artigo-titulo{
    font-size: 1em;
    margin-top: 5px;
}
.conteudo-news-artigo-paragrafo{
    font-size: 0.9em;
}
.conteudo-build-topo-titulo{
    margin: 0px 80px;
}
.conteudo-build-artigo-nav{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 40px auto;
}
.conteudo-build-artigo-item{
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #5a688d;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.conteudo-build-artigo-item:hover{
    background-color: #46598a;
}
.selecionado1{
    background-color: #17347D !important;
}
.conteudo-build-artigo-image{
    width: 30px;
}
.conteudo-build-artigo-text{
    font-size: 0.9em;
    color: white;
}
.conteudo-build-champ{
    display: flex;
    max-width: 1140px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: 20px auto;
    margin-bottom: 40px;
}
.conteudo-build-champ-item{
    width: 130px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    cursor: pointer;
}
.conteudo-build-champ-item > img{
    width: 100%;
    position: relative;
    transition: 300ms;
}
.conteudo-build-champ-item > img:hover{
    transform: scale(1.15);
}
.conteudo-build-champ-item > p{
    width: 130px;
    position: absolute;
    color: #fff;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    font-weight: 900;
    font-style: italic;
    background: #17357e;
}
.rodape{
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.rodape-menu1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.rodape-menu1-item{
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 5px;
    transition: 500ms;
}
.rodape-menu1-item:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
}
.rodape-logo{
    width: 300px;
}
.rodape-menu2{
    display: flex;
    justify-content: space-around;
}
.rodape-menu2-item{
    width: 50px;
    padding: 3px;
    transition: 300ms;
}
.rodape-menu2-item:hover{
    width: 60px;
}
.OFF{
    display: none;
}