@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

:root{
    --fonte-padrao: 'Open Sans', sans-serif;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, #17347D, #56B1E8);
    padding: 10px;
}
.cabecalho-menu-button-div{
    display: none;
}
.cabecalho-menu-button{
    border: none;
    width: 30px;
    height: 30px;
}
.cabecalho-logo{
    width: 200px;
    height: 50px;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu>li{
    list-style-type: none;
    padding: 0px 16px;
}
.menu>li>a{
    line-height: 65px;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.cabecalho-mode{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cabecalho-search-div{
    display: flex;
    background-color: #18294B;
    border-radius: 100px;
    padding: 12px 20px;
    align-items: center;
}
.cabecalho-search{
    background-color: #18294B;
    color: white;
    border: none;
    outline: none;
}
.cabecalho-search-icon{
    width: 25px;
    cursor: pointer;
}
.conteudo-news-artigo-topo, .artigo-topo{
    margin: 20px;
}
.conteudo-news-artigo-topo-titulo, .titulo-conteudo{
    font-size: 1.5em;
    font-style: oblique;
    margin: 20px;
}
.conteudo-news-artigo{
    display: flex;
    justify-content: space-evenly;
}
.conteudo-news-artigo-div{
    width: 350px;
    height: 350px;
}
.conteudo-news-artigo-image{
    width: 100%;
    height: 50%;
    border-left: 4px solid #17347D;
}
.conteudo-news-artigo-titulo{
    font-size: 1em;
}
.conteudo-news-artigo-paragrafo{
    font-size: 0.9em;
}
.conteudo-build-artigo-nav{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.conteudo-build-artigo-item{
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #5a688d;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.conteudo-build-artigo-item:hover{
    background-color: #46598a;
}
.selecionado1{
    background-color: #17347D !important;
}
.conteudo-build-artigo-image{
    width: 30px;
}
.conteudo-build-artigo-text{
    font-size: 0.9em;
    color: white;
}
.conteudo-build-champ{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}
.conteudo-build-champ-item{
    width: 130px;
    margin: 5px;
}
.conteudo-build-champ-item > img{
    width: 100%;
    position: top;
}
.conteudo-build-champ-item > p{
    position: bottom;
    color: #fff;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    background: #17357e;
}