@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Comfortaa&display=swap');

:root {
    --cor1: #010030; /* AZUL ESCURO PARA FUNDOS */
    --font-principal: 'Bricolage Grotesque', sans-serif;
    --font-destaque: 'Comfortaa', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: var(--cor1) url(../IMAGENS/empire-logo.png) no-repeat;
    background-size: contain;
    background-position: center center;
    height: 200px;
}

#formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: .8em;
}

form > .campo {
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(73, 73, 73);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

.campo > label {
    display: none;
}

.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: white;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 93%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-11px);
}

.campo > input:focus-within {
    background-color: #eeeeee99;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-radius: 8px;
}

form > input[type=submit]:hover {
    background-color: #01004b;
}

form > .botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 8px;
    text-decoration: none;
}

form > .botao:hover {
    background-color: #eeeeee75;
}

form > .botao > i {
    font-size: .8em;
}