@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-padrao:'Roboto', sans-serif;
    --font-destaque:'Bebas Neue', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-padrao);
    box-sizing: border-box;
}

.header{
    display: block;
    width: 100vw;
    height: 500px;
}
.header-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.picture-logo{
    width: 150px;
}
.picture-logo-item{
    width: 100%;
    padding: 5px;
}
.header-nav{
    display: flex;
    gap: 1.5rem;
}
.header-nav-lista{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.header-nav-lista-item{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.header-nav-lista-item, .header-nav-lista-item a{
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: 300ms;
}
.header-nav-lista-item a:hover{
    color: #E2B532;
}
.button-entrar{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #E2B532;
    cursor: pointer;
}
.button-entrar:hover{
    color: #fff;
    background-color: #caa32c;
}
.section-picture{
    display: block;
    position: absolute;
    background: url(../img/logo/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 500px;
}
.section-span{
    position: relative;
    top: 10rem;
    left: 5rem;
    color: rgba(255, 255, 255, 0.1);
    font-size: 5em;
    font-weight: 600;
    padding: 0 50px;
    animation: displayText 3s infinite;
}
.section-span::before{
    content: attr(data-text);
    position: absolute;
    color: #caa32c;
    overflow: hidden;
    border-right: 3px solid #caa32c;
    filter: drop-shadow(0 0 5px #caa32c) drop-shadow(0 0 25px #caa32c);
    animation: animate 5s linear infinite;
}

@keyframes displayText{
    0% {
        display: inline-block;
    }
    100% {
        display: none;
    }
}

@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 74%;
    }
}
.section-p{
    width: 400px;
    position: relative;
    top: 4rem;
    right: -55rem;
    font-size: 2em;
    color: #ffffffe0;
}
.section-info{

}