@charset "UTF-8";

@media screen and (max-width: 1200px) {
    .imagem {
        display: none;
    }

    .container {
        width: 50%;
    }

    .formulario {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .form-header {
        display: block;
    }

    .login-botao {
        padding: 10px;
        display: block;
        text-align: right;
    }

    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}